* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/garden1.jpg);
    background-position: center;
    background-size: cover;
    user-select: none;
    background:no-repeat;
}
.back-frem{
    width: 18rem;
    height: 6rem;
    border-radius: 23px;
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.back-frem .back-chang{
    width: 91px;
    height: 91px;
    background:wheat;
    overflow: hidden;
    cursor: pointer;
    border-radius: 23px;
}
.back-frem .back-chang img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background:no-repeat;
}


#score{
    font-size:20px;
}

#mine{
    border-color:greenyellow;
    width:70px;
    background-color:grey;
   position:absolute;
   left:845px;
   top:800px;
   width:200px;
   height:50px;
}

p{
    border-style:solid;
    border-color:black;
    width:255px;
    height:50px;
background-color:lightgreen;
position:absolute;
right:0px;
top:0px;
font-size:30px;
}

h1{
    color:black;
    font-family: Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top:15px;
    left:10px;
}

#stoner{
    width:600px;
    height:400px;
    display:none;
    position:absolute;
    left:700px;
}
#wooden{
    display:none;
    position:absolute;
    height:300px;
    width:500px;
    left:650px;
}

#block{
    height:500px;
    width:500px;
}
